.woo-virtual-fiton_container {
  --primary-color: #645bff;
  --secondary-color: #fff;
  --primary-color-dark: #49454566;
  --layer-color: #ccc;
  --hover-color: #111;
  --active-color: #400000;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
}

.woo-virtual-fiton_container .upload-block::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

.woo-virtual-fiton_container .upload-block::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.woo-virtual-fiton_fiton_product {
  z-index: 9;
}

#woo-virtual-fiton_placeholder_image {
  display: none;
  position: absolute;
  top: 45px;
  left: 0;
  object-fit: contain;
  opacity: 0.5;
}

.woo-virtual-fiton_container input[type='file'], 
.woo-virtual-fiton_container canvas,
.woo-virtual-fiton_container .webcam-block,
.woo-virtual-fiton_container.webcam-on .preview-image {
  display: none;
}

.woo-virtual-fiton_container video {
  display: none;
  width: 100%;
}

.woo-virtual-fiton_container.webcam-on video,
.woo-virtual-fiton_container.webcam-on .webcam-block,
.woo-virtual-fiton_container.webcam-on #woo-virtual-fiton_placeholder_image{
  display: block;
}

.woo-virtual-fiton_container .webcam-block{
  position: relative;
  background: #cacaca8a;
  padding: 10px 0;
}

/*.woo-virtual-fiton_container input[type='file'] {
	display: inline-block;
	max-width: 190px;
}

.woo-virtual-fiton_container input[type='file']::-webkit-file-upload-button{
  visibility: hidden;
}

.woo-virtual-fiton_container input[type='file']::before {
  content: 'Téléverser une photo';
  display: inline-block;
  --primary-color: #645bff;
  --secondary-color: #fff;
  --hover-color: #111;
  --active-color: #400000;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 3px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
  margin-right: 10px;
  cursor: pointer;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  margin: 0.3em 0.1em;
}

.woo-virtual-fiton_container.file_uploaded input[type='file']::before {
 content: 'Changer la photo';
}

.woo-virtual-fiton_container input[type='file']:hover::before, 
.woo-virtual-fiton_container input[type='file']:active::before {
  background-color: var(--hover-color);
}*/

.woo-virtual-fiton_container button:not(.mfp-close) {
  box-sizing: border-box;
  border: 0;
  border-radius: 3px;
  color: var(--secondary-color);
  padding: 0.7em 1em;
  background: var(--primary-color);
  border: 2px solid var(--primary-color-dark);
  display: inline-flex;
  transition: 0.4s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
  cursor: pointer;
  margin: 0.3em 0.1em;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.woo-virtual-fiton_container button.small-btn {
  padding: 0.3em 0.8em;
  font-weight: 400;
  font-size: 0.85em;
  margin: 0;
}

.woo-virtual-fiton_container .webcam-block button {
  border-radius: 60px;
  padding: 1em;
}

.woo-virtual-fiton_container .webcam-block button#woo-virtual-fiton_webcam_shoot_btn {
  background: red;
}

.woo-virtual-fiton_container button .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.woo-virtual-fiton_container button .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

.woo-virtual-fiton_container button .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

.woo-virtual-fiton_container button:not(.mfp-close):hover {
  background-color: var(--hover-color);
}

.woo-virtual-fiton_container  button:hover .arrow {
  background: var(--secondary-color);
}

.woo-virtual-fiton_container button:hover .arrow:before{
  right: 0;
}

/* modal window */
#woo-virtual-fiton_modal.modal-window {
  position: relative;
  background: var(--primary-color);
  width: auto;
  max-width: 1000px;
  margin: 20px auto;
  border-radius: 3px;
  box-sizing: border-box;
  overflow: hidden;
}

#woo-virtual-fiton_modal .header-block {
  padding: 8px 20px;
  font-weight: 600;
  color: var(--secondary-color);
}

#woo-virtual-fiton_modal .mfp-close {
  color: var(--secondary-color);
}

#woo-virtual-fiton_modal .row {
  background: var(--secondary-color);
}

#woo-virtual-fiton_modal .column {
  float: left;
  width: 50%;
  padding: 30px;
  box-sizing: border-box;
}

#woo-virtual-fiton_modal .column.image-block {
  padding: 0px;
  margin-bottom: -9px;
  text-align: center;
}

#woo-virtual-fiton_modal .row:after {
  content: "";
  display: table;
  clear: both;
  box-sizing: border-box;
}

#woo-virtual-fiton_modal .column-sub-title {
  font-size: 0.98em;
  margin: 0.3em 0;
  font-weight: 500;
  text-transform: uppercase;
}

#woo-virtual-fiton_modal li {
  font-size: 0.9em;
}

#woo-virtual-fiton_modal ol {
  margin: 0;
}

.woo-virtual-fiton_container .controls-block,
.woo-virtual-fiton_container.file_uploaded.on_edit .controls-block #woo-virtual-fiton_edit_btn,
.woo-virtual-fiton_container.file_uploaded.off_edit .controls-block #woo-virtual-fiton_save_btn  {
  display: none;
}

.woo-virtual-fiton_container.file_uploaded .controls-block {
  display: block;
}

.woo-virtual-fiton_container.file_uploaded.on_edit .controls-block #woo-virtual-fiton_save_btn,
.woo-virtual-fiton_container.file_uploaded.off_edit .controls-block #woo-virtual-fiton_edit_btn {
  display: inline-flex;
}

/* toggle switch */
.woo-virtual-fiton_container.fiton-disabled #woo-virtual-fiton_open_modal{
  display: none;
}

.woo-virtual-fiton_container .toggle-section {
  display: flex;
  align-items: center;
  height: 40px;
}

.woo-virtual-fiton_container .toggle-section .toggle-label {
  display: inline-block;
  padding: 0 0.8em;
  font-weight: 500;
  cursor: pointer;
}

.woo-virtual-fiton_container .toggle-switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 27px;
  margin-bottom: unset;
}

.woo-virtual-fiton_container .toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.woo-virtual-fiton_container .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--layer-color);
  -webkit-transition: .4s;
  transition: .4s;
}

.woo-virtual-fiton_container .slider:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  left: 3px;
  bottom: 3px;
  background-color: var(--secondary-color);
  -webkit-transition: .4s;
  transition: .4s;
}

.woo-virtual-fiton_container input:checked + .slider {
  background-color: var(--primary-color);
}

.woo-virtual-fiton_container input:focus + .slider {
  box-shadow: 0 0 1px var(--primary-color);
}

.woo-virtual-fiton_container input:checked + .slider:before {
  -webkit-transform: translateX(28px);
  -ms-transform: translateX(28px);
  transform: translateX(28px);
}

.woo-virtual-fiton_container .slider.round {
  border-radius: 34px;
}

.woo-virtual-fiton_container .slider.round:before {
  border-radius: 50%;
}

/* responsive */
@media screen and (min-width: 1024px) {
  #woo-virtual-fiton_modal .column {
    max-height: 500px;
    overflow-y: scroll;
  }
}

@media screen and (max-width: 1024px) {
  #woo-virtual-fiton_modal .column {
    width: 100%;
  }
}